@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800);

/** Reset Geral **/
*{ margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul,li{list-style:none;}
*:focus{outline:none;}
.clear{clear:both;}
a, a:hover, a:visited{text-decoration:none;border:0 none; color: inherit;}
img{border:0 none;}
::-moz-selection{background:#0e1218;color:#fff;}
::selection{background:#0e1218;color:#fff;}
textarea{resize:none;}
input, textarea, select { -webkit-appearance: none; -webkit-border-radius: 0; }

*{font-family: 'Raleway', sans-serif; opacity: inherit;}

a{opacity: 0.8;}
a:hover{opacity: 1;}

/** BARRA ESQUERDA **/
section.barra{
	background: #3b4f6a;
	height: 100%;
	padding: 0px;
}

.aux_barra{
	background: #3b4f6a;
	height: 100%;
	padding: 0px;
	position: fixed;
}

section.barra header{
	background: #5aa6a6;
}

section.barra header i.icon-home{
	color: #fff;
	font-size: 2.5em;
	float: left;
	margin-top: 0.1em;
}

section.barra header h1{
	color: #fff;
	margin-top: 10px;
	font-size: 1.3em;
	text-transform: uppercase;
}
section.barra header h1 span{
	color: #fff;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 300;
	display: block;
}

section.barra ul.menu{
	color: #fff;
}

section.barra ul.menu li a:hover{
	background: #33435a;
}

section.barra ul.menu li a.ativo{
	background: #d95352;	
}

section.geral{
	background: #d4d4d4;
	float: left;
	padding: 0px;
}

.aux_geral{
	background: #d4d4d4;
	float: left;
	padding: 0px;
	position: fixed;
	height: 100%;
	right: 0px;
}

section.geral .topo{
	background: #fff;
	display: block;
	width: 100%;
	height: 3.9em;
}

section.geral .topo .user_topo{
	float: right;
	display: block;
}

section.geral .topo .user_topo img{
	max-width: 40px;
	float: left;
	border: 1px solid #3b4f6a;
	margin: 0.5em 0;
}

section.geral .topo .user_topo li.dropdown{
	float: left;
	margin-right: 0.5em;
}

section.geral .topo .user_topo p{
	float: left;
	line-height: 3.9em;
	color: #3b4f6a;
	margin: 0 1em;
}

section.geral .topo .user_topo .btn-group{
	margin: 0.8em;
}

section.geral .conteudo .box{
	display: block;
	background: #ddd;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;
}

section.geral .conteudo .box .icon{
	position: absolute;
	font-size: 5em;
	right: 0em;
	top: 0em;
	color: rgba(255, 255, 255, 0.7);
}

section.geral .conteudo .box .contain{
	padding: 2em;
	min-height: 10em;
}

section.geral .conteudo .box .contain .range-bar{
	width: 80%;
	margin: 30px auto 7px;
}

section.geral .conteudo .box .contain .switchery{
	margin: 0 auto;
	display: block;
}

section.geral .conteudo .box .contain .switchery:before{
	content: 'Desligado';
	font-size: 0.8em;
	position: absolute;
	left: -5.5em;
	top: 0.7em;
}

section.geral .conteudo .box .contain .switchery:after{
	content: 'Ligado';
	font-size: 0.8em;
	position: absolute;
	right: -4em;
	top: 0.7em;
}

section.geral .conteudo .box .contain h2{
	margin-top: 0px
}

section.geral .conteudo .box .horario{
	/*background: #727cb6;*/
}

section.geral .conteudo .box .temperatura_umidade{
	background: #fff;
	height: 100%;
}

section.geral .conteudo .box .temperatura_umidade h2.temp{
	margin-right: 30px;
}

section.geral .conteudo .box .temperatura_umidade h2.umid{
	margin-left: 30px;
	text-align: right
}

section.geral .conteudo .box .temperatura_umidade .icon-gotas{
	left: 0.3em;
	bottom: 0.2em;
	top: inherit;
	color: rgba(0,0,0,0.7);
}

section.geral .conteudo .box .temperatura_umidade .icon-temperatura{
	color: rgba(0,0,0,0.7);
}

section.geral .conteudo .box.cff9800{
	border-top: 5px solid #ff9800;	
}
section.geral .conteudo .box.cff9800 .icon{
	color: #ff9800;	
}

section.geral .conteudo .box.c673ab7{
	border-top: 5px solid #673ab7;	
}

section.geral .conteudo .box.c673ab7 .icon{
	color: #673ab7;
}

section.geral .conteudo .box.c259b24{
	border-top: 5px solid #259b24;	
}

section.geral .conteudo .box.c259b24 .icon{
	color: #259b24;
}

section.geral .conteudo .box.cEB5887{
	border-top: 5px solid #EB5887;	
}

section.geral .conteudo .box.cEB5887 .icon{
	color: #EB5887;
}

section.geral .conteudo .consumo .icon{
	color: rgba(0,0,0,0.7);
}

section.geral .conteudo .consumo text[text-anchor="middle"], section.geral .conteudo .consumo text[text-anchor="end"]{
  display:none
}

section.geral .conteudo .consumo .contain{
	min-height: inherit;
	padding-bottom: 0px;
}

section.geral .conteudo .consumo h4{
	display: inline-block;
	float: left;
}

section.geral .conteudo .consumo #row-content{
	display: block;
	float: right;
}

section.geral .conteudo .consumo #row-content p{
	margin-bottom: 0px;
	font-size: 1.3em;
}

section.geral .conteudo .consumo #row-content span{
	margin-right: 1em;
}

section.geral .conteudo .horario .icon-sol{
	color: rgba(255, 193, 7, 0.7);
}

section.geral .conteudo .horario .icon-lua{
	color: rgba(96, 125, 139, 0.7);
}