
.icon-home:before { content: '\e800'; } /* '' */
.icon-luz:before { content: '\e801'; } /* '' */
.icon-celular:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-fechar:before { content: '\e804'; } /* '' */
.icon-excluir:before { content: '\e805'; } /* '' */
.icon-adicionar:before { content: '\e806'; } /* '' */
.icon-menos:before { content: '\e807'; } /* '' */
.icon-mais:before { content: '\e808'; } /* '' */
.icon-cadeado:before { content: '\e809'; } /* '' */
.icon-cadeado-aberto:before { content: '\e80a'; } /* '' */
.icon-game:before { content: '\e80b'; } /* '' */
.icon-editar:before { content: '\e80c'; } /* '' */
.icon-atencao:before { content: '\e80d'; } /* '' */
.icon-microfone:before { content: '\e80f'; } /* '' */
.icon-configuracao:before { content: '\e810'; } /* '' */
.icon-volume:before { content: '\e811'; } /* '' */
.icon-volume-off:before { content: '\e812'; } /* '' */
.icon-notebook:before { content: '\e813'; } /* '' */
.icon-chave:before { content: '\e814'; } /* '' */
.icon-carro:before { content: '\e815'; } /* '' */
.icon-cafe:before { content: '\e816'; } /* '' */
.icon-usuarios:before { content: '\e817'; } /* '' */
.icon-usuario:before { content: '\e818'; } /* '' */
.icon-direita:before { content: '\e819'; } /* '' */
.icon-esquerda:before { content: '\e81a'; } /* '' */
.icon-baixo:before { content: '\e81b'; } /* '' */
.icon-cima:before { content: '\e81c'; } /* '' */
.icon-atualizar:before { content: '\e81d'; } /* '' */
.icon-wifi:before { content: '\e81e'; } /* '' */
.icon-grafico-linha:before { content: '\e81f'; } /* '' */
.icon-grafico-barra:before { content: '\e820'; } /* '' */
.icon-gotas:before { content: '\e821'; } /* '' */
.icon-gota:before { content: '\e822'; } /* '' */
.icon-ar:before { content: '\e823'; } /* '' */
.icon-sol:before { content: '\e824'; } /* '' */
.icon-sol-cheio:before { content: '\e825'; } /* '' */
.icon-nuvem:before { content: '\e826'; } /* '' */
.icon-tomada:before { content: '\e827'; } /* '' */
.icon-camera:before { content: '\e828'; } /* '' */
.icon-lua:before { content: '\e82a'; } /* '' */
.icon-celcius:before { content: '\e82b'; } /* '' */
.icon-menu:before { content: '\e82d'; } /* '' */
.icon-miniaturas:before { content: '\e82e'; } /* '' */
.icon-lixieira:before { content: '\e82f'; } /* '' */
.icon-relogio:before { content: '\e830'; } /* '' */
.icon-relogio-areia:before { content: '\e831'; } /* '' */
.icon-temperatura:before { content: '\e832'; } /* '' */
.icon-carregando:before { content: '\e833'; } /* '' */
.icon-lua-cheia:before { content: '\e834'; } /* '' */